<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>


<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand big_text" href="#">
        <img src="/static/images/main.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Сервер
    </a>
    <form class="form-inline">
        <span class="big_text" style="font-size:150%">{{ username }}</span>
    </form>
</nav>

<div id="content" class="mx-auto p-4 smth">
    {% block content %}{% endblock %}
</div>

</body>
</html>